<div class="underwriting-suggested">
    <div class="field">
        <span>Withhold %</span>
        <input type="number" step="1">
    </div>
    <div class="field">
        <span>Factor Rate</span>
        <input type="number">
    </div>
    <div class="field">
        <span>Term</span>
        <input type="number" step="1">
    </div>
    <div class="field">
        <span>Frequency</span>
        <input type="number" step="10000">
    </div>
    <div class="field">
        <span>Funding Amount</span>
        <span>0.0$</span>
    </div>
    <div class="field">
        <span>Payback</span>
        <span>0.0$</span>
    </div>
    <div class="field">
        <span>Payments</span>
        <span>0.0$</span>
    </div>
</div>