.merchant-banking-statements {
}

table {
    width: 100%;
}

.mat-column-select, .mat-column-delete, .mat-column-navigate {
    width: 20px;
}

.mat-column-year, .mat-column-month {
    width: 75px;
}

.mat-column-bank, .mat-column-account {
    width: 200px;
}

.noDataRow {
    text-align: center;
    height: 50px;
}
  
tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
}

mat-card {
    margin: 3px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
}

mat-card-content {
    padding: 3px !important;
}