<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
    <mat-tab label="Format">
        <h2 mat-dialog-title>Merchant</h2>
        <mat-dialog-content>
            <form [formGroup]="merchantForm" class="merchant">
                <mat-form-field>
                    <mat-label>EIN</mat-label>
                    <input matInput formControlName="ein" type="tel" maxlength="9">
                    <mat-error>Please enter a valid EIN</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Business Legal Name</mat-label>
                    <input matInput formControlName="name">
                    <mat-error>Please enter a valid Business Name</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Business Name D/B/A</mat-label>
                    <input matInput formControlName="name_dba">
                    <mat-error>Please enter a valid Business Name</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Industry</mat-label>
                    <mat-select formControlName="industry">
                        @for (group of this.insudries; track group) {
                        <mat-optgroup [label]="group.category">
                            @for (industry of group.subCategory; track industry) {
                            <mat-option [value]="industry.value">{{industry.viewValue}}</mat-option>
                            }
                        </mat-optgroup>
                        }
                    </mat-select>
                    <mat-error>Please choose an Industry</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Legal Entity</mat-label>
                    <mat-select formControlName="legal_entity">
                        <mat-option value="llc">Limited liability partnership (LLC)</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                    <mat-error>Please choose an entity</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Start Date</mat-label>
                    <input matInput formControlName="start_date" [matDatepicker]="start_date" placeholder="MM/DD/YYYY">
                    <mat-datepicker-toggle matIconSuffix [for]="start_date"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #start_date></mat-datepicker>
                    <mat-error>Please enter a valid date</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Company Phone</mat-label>
                    <input matInput formControlName="phone" type="tel" maxlength="10">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error>Please enter a valid phone number</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Company Mail</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error
                        *ngIf="merchantForm.controls.email.invalid && merchantForm.controls.email.untouched">Please
                        enter a valid email</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Company Website</mat-label>
                    <input matInput formControlName="website">
                    <mat-icon matSuffix>web</mat-icon>
                </mat-form-field>
                <mat-form-field class="full_width">
                    <mat-label>Company Address</mat-label>
                    <input matInput formControlName="address">
                </mat-form-field>
            </form>
        </mat-dialog-content>
    </mat-tab>
    <mat-tab label="Key Word">

        <h2 mat-dialog-title>Owners</h2>
        <mat-dialog-content class="mat-typography">
            <form [formGroup]="ownerForm" class="owner">
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type">
                        <mat-option value="deposit">Deposit</mat-option>
                        <mat-option value="withdrawal">Withdrawal</mat-option>
                        <mat-option value="payment">Payment</mat-option>
                    </mat-select>
                    <mat-error>Please choose an entity</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Word</mat-label>
                    <input matInput formControlName="last_name">
                    <mat-error>Please enter a valid Last Name</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Format</mat-label>
                    <mat-select formControlName="format">
                        <mat-option>All</mat-option>
                        @for(format of this.formats; track format) {
                            <mat-option value="format.format.id">{{format.format.bank | uppercase}}</mat-option>
                        }
                    </mat-select>
                    <mat-error>Please choose an entity</mat-error>
                </mat-form-field>
            </form>
        </mat-dialog-content>
    </mat-tab>
</mat-tab-group>


<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" (click)="insertMerchant()" cdkFocusInitial
        [disabled]="!merchantForm.valid || !ownerForm.valid">Create</button>
</mat-dialog-actions>