<div class="keys-table">
    <table mat-table matSort matSortActive="name" matSortDisableClear matSortDirection="asc" multiTemplateDataRows
        cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" [dataSource]="dataSource">
        @for (column of columns; track $index) {
        <ng-container [matColumnDef]="column">
            @if (column === 'select') {
            <th mat-header-cell *matHeaderCellDef cdkDrag>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && this.selection.selected.length === this.dataSource.data.length"
                    [indeterminate]="selection.hasValue() && this.selection.selected.length !== this.dataSource.data.length">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"
                    [checked]="selection.isSelected(element)">
                </mat-checkbox>
            </td>
            }
            @else {
            <th mat-header-cell mat-sort-header *matHeaderCellDef cdkDrag>
                @switch (column) {
                    @case ('value_1') {
                        {{ 'PATTERN' }}
                    }
                    @default {
                        {{column | uppercase}}
                    }
                }
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <input matInput type="text" [(ngModel)]="element[column]" [disabled]="column === 'id'"/>
                </mat-form-field>
            </td>
            }
        </ng-container>
        }

        <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columns" class="element-row"></tr>

        <tr class="noDataRow mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">No data to show</td>
        </tr>
    </table>
</div>