<div class="keys-form">
    <mat-card>
        <mat-card-content>
            <div class="form">
                <div class="form__item form__input">
                    <mat-form-field appearance="outline">
                        <mat-label>Search</mat-label>
                        <input matInput #input>
                    </mat-form-field>
                </div>
                <div class="form__item form__input">
                    <mat-form-field appearance="outline">
                        <mat-label>Account</mat-label>
                        <mat-select>
                          <mat-option value="one">First option</mat-option>
                          <mat-option value="two">Second option</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="form__item form__input">
                    <mat-form-field appearance="outline">
                        <mat-label>View</mat-label>
                        <mat-select>
                          <mat-option value="one">First option</mat-option>
                          <mat-option value="two">Second option</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="form__item form__input">
                    <mat-form-field appearance="outline">
                        <mat-label>Start</mat-label>
                        <input matInput #input>
                    </mat-form-field>
                </div>
                <div class="form__item form__input">
                    <mat-form-field appearance="outline">
                        <mat-label>End</mat-label>
                        <input matInput #input>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>