<div class="profile-underwriting">
    <div class="full">
        <mat-card class="strech">
            <mat-card-content>
                <app-underwriting-stats></app-underwriting-stats>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="full">
        <mat-card class="strech">
            <mat-card-content>
                <mat-card-header>
                    <mat-card-title>Proposed Offer</mat-card-title>
                </mat-card-header>
                <app-underwriting-proposed></app-underwriting-proposed>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <app-underwriting-chart type="bar"></app-underwriting-chart>
            </mat-card-content>
        </mat-card>
        <mat-card class="strech">
            <mat-card-content>
                <mat-card-header>
                    <mat-card-title>Suggested Offer</mat-card-title>
                </mat-card-header>
                <app-underwriting-suggested></app-underwriting-suggested>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="full">
        <mat-card class="strech">
            <mat-card-content>
                <app-database-funders></app-database-funders>
            </mat-card-content>
        </mat-card>
    </div>
</div>