<div class="parser-schemes">
    <mat-accordion multi>
        @for(scheme of data; track $index) {
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ scheme.name }}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ scheme.id }}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <br>
                    <mat-card>
                        <mat-card-content>
                            <app-parser-settings [data]="scheme.settings"></app-parser-settings>
                        </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Parameters</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <app-parser-parameters [data]="scheme.parameters"></app-parser-parameters>
                        </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Keys</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <app-parser-parameters [data]="scheme.keys"></app-parser-parameters>
                        </mat-card-content>
                    </mat-card>
                    <br>
                </div>
                
    
            </mat-expansion-panel>
        }
    </mat-accordion>
    <!--

        <table mat-table matSort matSortActive="name" matSortDisableClear matSortDirection="asc" multiTemplateDataRows
            [dataSource]="dataSource">
            @for (column of displayedColumns; track $index) {
            <ng-container [matColumnDef]="column">
                @switch (column) {
                @case ('select') {
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && this.selection.selected.length === this.dataSource.data.length"
                        [indeterminate]="selection.hasValue() && this.selection.selected.length !== this.dataSource.data.length">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"
                        [checked]="selection.isSelected(element)">
                    </mat-checkbox>
                </td>
                }
                @case ('expand') {
                <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button
                        (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                        <mat-icon>
                            @if (expandedElement === element) {
                            keyboard_arrow_up
                            } @else {
                            keyboard_arrow_down
                            }
                        </mat-icon>
                    </button>
                </td>
                }
                @default {
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                    @if (column !== 'span') {
                    {{column | uppercase}}
                    }
                </th>
                <td mat-cell *matCellDef="let element">
                    @if (element[column]) {
                    {{ element[column] }}
                    }
                </td>
                }
                }
            </ng-container>
            }
    
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                    <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <br>
                        <mat-card>
                            <mat-card-content>
                                <app-parser-settings [data]="element.settings"></app-parser-settings>
                            </mat-card-content>
                        </mat-card>
                        <br>
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Parameters</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <app-parser-parameters [data]="element.parameters"></app-parser-parameters>
                            </mat-card-content>
                        </mat-card>
                        <br>
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Keys</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <app-parser-parameters [data]="element.keys"></app-parser-parameters>
                            </mat-card-content>
                        </mat-card>
                        <br>
                    </div>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" class="element-row"
                [class.expanded-row]="expandedElement === row"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expanded-row"></tr>
    
            <tr class="noDataRow mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="5">No data to show</td>
            </tr>
        </table>
    -->
</div>