<div class="profile-banking-monthly">
    <table mat-table matSort matSortActive="month" matSortDisableClear matSortDirection="asc" multiTemplateDataRows
        cdkDropList cdkDropListOrientation="horizontal" [dataSource]="dataSource">
        @for (column of columns; track $index) {
        <ng-container [matColumnDef]="column">
            <th mat-header-cell mat-sort-header *matHeaderCellDef cdkDrag>
                {{column | uppercase}}
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element[column] }}
            </td>
        </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columns" class="element-row"></tr>

        <tr class="noDataRow mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">No data to show</td>
        </tr>
    </table>
</div>