<div class="profile-banking-stats border">
    @if (stats) {    
        <div><span class="title">Transactions Overview</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span class="title">Transactions Size Analysis</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span class="title">Cash Flow and Transfers</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span class="title"></span></div>
        <div><span></span></div>
    
        <div><span>Statements:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Largest deposit:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Number of deposit transfers:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
    
        <div><span>Accounts:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Largest withdrawal:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Number of withdrawal transfers:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>

        <div><span>Total transactions:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Smallest deposit:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Net tranfers amount:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
    
        <div><span>Total deposits:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Smallest withdrawal:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Deposit transfers amount:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>

        <div><span>Total withdrawals:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Total deposits:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Withdrawal transfers amount:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>

        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span>Total withdrawals:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Average deposit transfer:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>

        <div><span class="title">Income and Revenue</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span>Average deposit:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Average withdrawal transfer:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>

        <div><span>Total number of true revenue:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Average withdrawal:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Largest deposit transfer:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>

        <div><span>Frequency of true revenue:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span>Largest withdrawal transfer:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
    
        <div><span>Total true revenue amount:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span class="title">Debt and Credit</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span>Smallest deposit transfer:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>

        <div><span>Average monthly revenue:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Debt:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Smallest withdrawal transfer:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>

        <div><span>Average yearly revenue:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Debt paid:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
    
        <div><span></span><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span>Debt-Income:</span></div>
        <div><span>0.0</span></div>
        <div><span></span></div>
        <div><span class="title">Non Revenue Credits</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>

        <div><span class="title">Expense and Payments</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span>Debt-Revenue:</span></div>
        <div><span>0.0</span></div>
        <div><span></span></div>
        <div><span>Number of non revenue deposits:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>

        <div><span>Number of payments:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Debt-Withdrawals:</span></div>
        <div><span>0.0</span></div>
        <div><span></span></div>
        <div><span>Total non revenue deposits:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>

        <div><span>Average monthly payments:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Debt-Payements:</span></div>
        <div><span>0.0</span></div>
        <div><span></span></div>
        <div><span>AVG non revenue deposit:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>

        <div><span>Average yearly payments:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span>Debt-Revenue:</span></div>
        <div><span>0.0</span></div>
        <div><span></span></div>
        <div><span>AVG monthly non revenue deposits:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>

        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span>Revenue-Non Revenue:</span></div>
        <div><span>0.0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>

        <div><span class="title">Balance Management</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span>FICO score:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>

        <div><span>Average daily balance:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>

        <div><span>Average monthly balance:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>

        <div><span>number of negative balance:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>

        <div><span>number of negative balance days:</span></div>
        <div><span>0</span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
    }

</div>


<!--
    <table mat-table [dataSource]="dataSource">
        @for (column of columns; track $index) {
        <ng-container [matColumnDef]="column">
            <td mat-cell *matCellDef="let element">
                @if(['column1', 'column3', 'column5', 'column7', 'column9'].includes(column)) {
                    {{ element[column] }}
                } @else if (column === 'span') {
                } @else {
                    {{ element[column] | number:'1.0-2' }}
                }
            </td>
        </ng-container>
        }

        <tr mat-row *matRowDef="let row; columns: columns" class="element-row"></tr>

        <tr class="noDataRow mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">No data to show</td>
        </tr>
    </table>
-->