<div class="sidebar">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
        <!-- This is the tree node template for leaf nodes -->
        <!-- There is inline padding applied to this node using styles.
          This padding value depends on the mat-icon-button width. -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="tree-node">
            <button mat-button matTreeNodeToggle [routerLink]="node.route" (click)="toggleSideBar()">
                <div class="mat-tree-button">
                    @if (node.icon) {
                        <mat-icon>{{ node.icon }}</mat-icon>
                    }
                    <span>{{ node.name }}</span>
                </div>
            </button>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
            <div class="mat-tree-node">
                <button mat-button matTreeNodeToggle>
                    <div class="mat-tree-node-content">
                        <div class="mat-tree-button">
                            @if (node.icon) {
                                <mat-icon>{{ node.icon }}</mat-icon>
                            }
                            <span>{{ node.name }}</span>
                        </div>
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </div>
                </button>
            </div>
            <!-- There is inline padding applied to this div using styles.
                This padding value depends on the mat-icon-button width.  -->
            <div [class.tree-invisible]="!treeControl.isExpanded(node)" role="group">
                <ng-container matTreeNodeOutlet></ng-container>
            </div>
        </mat-nested-tree-node>
    </mat-tree>
</div>

<!--
    <div class="sidebar">
        <mat-button-toggle-group appearance="legacy" (click)="toggleSideBar()">
            <div class="sidebar__container">
                <div class="sidebar__container__list">
                    <mat-button-toggle value="Dashboard" routerLink="/">
                        <div class="sidebar__container__list__content">
                            <mat-icon>dashboard</mat-icon>
                            <span>Dashboard</span>
                        </div>
                    </mat-button-toggle>
                    <mat-button-toggle value="Database" routerLink="/database">
                        <div class="sidebar__container__list__content">
                            <mat-icon>nature_people</mat-icon>
                            <span>Database</span>
                        </div>
                    </mat-button-toggle>
    
                    <mat-button-toggle value="Parser" routerLink="/parser/schemes">
                        <div class="sidebar__container__list__content">
                            <mat-icon>gradient</mat-icon>
                            <span>Parser</span>
                        </div>
                    </mat-button-toggle>
                </div>
            </div>
        </mat-button-toggle-group>
    </div>
                <mat-button-toggle value="Lenders">
                    <div class="sidebar__container__list__content">
                        <mat-icon>business_center</mat-icon>
                        <span>Templates</span>
                    </div>
                </mat-button-toggle>
                
                <mat-button-toggle value="Dialer">
                    <div class="sidebar__container__list__content">
                        <mat-icon>dialpad</mat-icon>
                        <span>Dialer</span>
                    </div>
                </mat-button-toggle>
                <mat-button-toggle value="Leads">
                    <div class="sidebar__container__list__content">
                        <mat-icon>group</mat-icon>
                        <span>Leads</span>
                    </div>
                </mat-button-toggle>
                <mat-button-toggle value="Applications">
                    <div class="sidebar__container__list__content">
                        <mat-icon>create</mat-icon>
                        <span>Applications</span>
                    </div>
                </mat-button-toggle>
-->