<div class="underwriting-stats">
    <div class="stat">
        <span class="stat__title">Current Withhold %</span>
        <span class="stat__data">0%</span>
    </div>
    <div class="stat">
        <span class="stat__title">Current Daily Payments</span>
        <span class="stat__data">0</span>
    </div>
    <div class="stat">
        <span class="stat__title">AVG Monthly Revenue</span>
        <span class="stat__data">0</span>
    </div>
    <div class="stat">
        <span class="stat__title">AVG Ending Balance</span>
        <span class="stat__data">0</span>
    </div>
    <div class="stat">
        <span class="stat__title">AVG Monthly Deposit Count</span>
        <span class="stat__data">0</span>
    </div>
    <div class="stat">
        <span class="stat__title">AVG Monthly Negative Days</span>
        <span class="stat__data">0</span>
    </div>
</div>