/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sidebar .mat-button-toggle-label-content {
    width: 100%;
    padding: 5px 16px;
}

.header .mat-mdc-form-field-subscript-wrapper {
    height: 0;
}

.mat-mdc-option .mdc-list-item__primary-text {
    width: 100%;
}

.header .mdc-line-ripple {
    display: none;
}

.mat-mdc-table .mat-form-field-appearance-outline .mdc-notched-outline {
    display: none !important;
}

.sidebar .mdc-button__label {
    width: 100%;
}